
/* Fonts */
@font-face { 
  font-family: cocobold;
  src: url(../fonts/Coco-Sharp-Bold-trial.woff) format("woff");
} 

@font-face { 
  font-family: cocosharp;
  src: url(../fonts/Coco-Sharp-Heavy-trial.woff) format("woff");
}

@font-face { 
  font-family: cocolight;
  src: url(../fonts/Coco-Sharp-Light-trial.woff) format("woff");
} 

@font-face { 
  font-family: unagoblack;
  src: url(../fonts/Unageo-Black.woff) format("woff");
} 

@font-face {
  font-family: unagoReg;
  src: url(../fonts/Unageo-Regular.woff) format("woff");
}

@font-face { 
  font-family: lemonmilkbold;
  src: url(../fonts/lemonmilk-bold.woff) format("woff");
} 

@font-face { 
  font-family: Consolas;
  src: url(../fonts/CONSOLA.woff) format("woff");
} 

@font-face { 
  font-family: SFBold;
  src: url(../fonts/SFonts/SF-Pro-Display-Heavy.otf) format("woff");
} 

:root {
  --default-font: "Montserrat",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat",  sans-serif;
  --nav-font: "Montserrat",  sans-serif;
}

:root { 
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #3f3f3f; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #3C3C3C; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #3c3c3c; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}


:root {
  --nav-color: #c9c9c9;  /* The default color of the main navmenu links */
  --nav-hover-color: #3c3c3c; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #3c3c3c; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family:"cocobold", Helvetica, sans-serif;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 997;
}

@media (max-width: 1199px) {
  .header {
    width: 160px;
    left: -100%;
  }
}
.header.header-show {
  left: 0;
  backdrop-filter: blur(35px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.header .header-toggle {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 14px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  transition: background-color 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.header .header-toggle:hover {
  color: var(--contrast-color);
  background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

.mobile-logo {
  display: none;
}

@media (max-width: 1199px) {
  .mobile-logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .mobile-logo img {
    max-width: 55px;
    height: auto;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navmenu {
  padding: 0;
  z-index: 5000;
}

.navmenu ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
  width: 130px;
}

.navmenu a,
.navmenu a:focus {
  color: #9b9b9b;
  font-family: var(--nav-font);
  display: flex;
  align-items: center;
  padding: 10px 18px;
  margin-bottom: 8px;
  font-size: 15px;
  border-radius: 50px;
  background: color-mix(in srgb, var(--default-color), transparent 85%);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 20px;
}

.navmenu a span,
.navmenu a:focus span {
  padding: 0 5px 0 7px;
}

@media (min-width: 992px) {

  .navmenu a,
  .navmenu a:focus {
    max-width: 56px;
  }

  .navmenu a span,
  .navmenu a:focus span {
    display: none;
  }
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus,
.navmenu li:hover>a {
  color: var(--contrast-color);
  background: var(--nav-hover-color);
}

.navmenu a:hover,
.navmenu li:hover>a {
  max-width: 100%;
  color: var(--contrast-color);
}

.navmenu a:hover span,
.navmenu li:hover>a span {
  display: block;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.footer {
  color: var(--default-color);
  background-image: url(../background/profile-section.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

.footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 30px 0;
}

.footer .social-links {
  margin: 0 0 30px 0;
}

.footer .social-links a {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  color: var(--contrast-color);
  line-height: 1;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
  text-decoration: none;
}

.footer .copyright {
  padding-top: 25px;
  border-top: 1px solid color-mix(in srgb, var(--surface-color), transparent 90%);
  color: #5f5f5f;
}

.footer .credits {
  font-size: 13px;
  padding-top: 5px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader:before {
  content: "";
  position: absolute;
  border: 10px solid #ffffff; /* 10% thicker */
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: animate-preloader 1.5s linear infinite;
}

.preloader-logo {
  width: 50px;
  height: auto;
  z-index: 1; /* above spinner */
}
  
@keyframes animate-preloader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*--------------------------------------------------------------
# Scroll-top
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 14px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}


@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.page-title {
  --background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  position: relative;
}

.page-title h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0px;
  overflow: clip;
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding: 30px;
  position: relative;
}

/* Default Style */
.section-title h2 {
  font-size: clamp(34px, 5vw, 100px);
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: 'Dela Gothic One', Helvetica, sans-serif;
  line-height: 1.05;
}


/* White Version */
.section-title.white h2 {
  color: white;
}

.section-title.white h2:before {
  background: rgba(255, 255, 255, 0.6);
}

.section-title.white h2::after {
  background: white;
}

@media (max-width: 599px) {
  .section-title h2 {
    font-size: clamp(20px, 7vw, 28px);
    margin-bottom: 12px;
    padding-bottom: 12px;
    text-align: center;
  }

  .section-title h2:before {
    width: 100px;
  }

  .section-title h2::after {
    width: 40px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .section-title h2 {
    font-size: clamp(26px, 6vw, 36px);
    margin-bottom: 16px;
    padding-bottom: 16px;
    text-align: center;
  }

  .section-title h2:before {
    width: 130px;
  }

  .section-title h2::after {
    width: 50px;
  }
}

@media (min-width: 900px) {
  .section-title h2 {
    font-size: clamp(34px, 5vw, 48px);
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .section-title h2:before {
    width: 160px;
  }

  .section-title h2::after {
    width: 60px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero #background-video {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 26px;
}

.hero p span {
  letter-spacing: 1px;
}

.hero .social-links {
  margin-top: 25px;
}

.hero .social-links a {
  font-size: 24px;
  pointer-events: auto;
  display: inline-block;
  color: #707070;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: #ffffff;
}

/*--- Illustration ---*/

:root{
  --illustrator-size: clamp(300px, 100%, 400px);
}

.hero-section .col-12.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .illustration {
  width: var(--illustrator-size);
  height: auto;
  margin: 0 auto;
  display: block;
  position: static;
  transform: none;
  top: auto;
}

 .hover {
  position: relative;
  display: grid;
  place-items: center;
  filter: drop-shadow(0 15px 30px rgba(0,0,0,.45));
  isolation: isolate;
	width: 100%;
  height: 100%;
	animation: hover 5s ease-in-out infinite;
	animation-fill-mode: forwards;
  font-family: "Consolas", Helvetica, sans-serif;
}

 .text-one {
  transform: translateY(-10px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-10 5473ms ease-in-out infinite;
  animation-fill-mode: forwards;
}
 .text-two {
	 transform: translateY(-20px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-20 3518ms ease-in-out infinite;
	
	 animation-fill-mode: forwards;
}
 .text-three {
	 transform: translateY(-30px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-30 4394ms ease-in-out infinite;
	 animation-delay: 2917ms;
	 animation-fill-mode: forwards;
}
 .text-four {
	 transform: translateY(-50px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-50 4584ms ease-in-out infinite;
	 animation-delay: 1633ms;
	 animation-fill-mode: forwards;
}
 .text-five {
	 transform: translateY(-60px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-60 5057ms ease-in-out infinite;
	 animation-delay: 2537ms;
	 animation-fill-mode: forwards;
}
 .text-six {
	 transform: translateY(-70px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-70 3531ms ease-in-out infinite;
	 animation-delay: 5800ms;
	 animation-fill-mode: forwards;
}
 .text-seven {
	 transform: translateY(-80px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-80 2382ms ease-in-out infinite;
	 animation-delay: 51ms;
	 animation-fill-mode: forwards;
}
 .text-eight {
	 transform: translateY(-90px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-90 3703ms ease-in-out infinite;
	 animation-delay: 3540ms;
	 animation-fill-mode: forwards;
}
 .text-nine {
	 transform: translateY(-100px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-100 3452ms ease-in-out infinite;
	 animation-delay: 3451ms;
	 animation-fill-mode: forwards;
}
 .text-ten {
	 transform: translateY(-110px) translateZ(0);
	 opacity: 0;
	 animation: fadeNumberDown-110 3931ms ease-in-out infinite;
	 animation-delay: 626ms;
	 animation-fill-mode: forwards;
}

 @keyframes hover {
	 0% {
		 transform: translateY(0);
	}
	 25% {
		 transform: translateY(-3px);
	}
	 75% {
		 transform: translateY(3px);
	}
	 100% {
		 transform: translateY(0);
	}
}
 @keyframes fadeNumberDown-10 {
	 0% {
		 transform: translateY(-10px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(140px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-20 {
	 0% {
		 transform: translateY(-20px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(140px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-30 {
	 0% {
		 transform: translateY(-30px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(130px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-50 {
	 0% {
		 transform: translateY(-50px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(110px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-60 {
	 0% {
		 transform: translateY(-60px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(90px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-70 {
	 0% {
		 transform: translateY(-70px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(80px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-80 {
	 0% {
		 transform: translateY(-80px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(80px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-90 {
	 0% {
		 transform: translateY(-90px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(60px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-100 {
	 0% {
		 transform: translateY(-100px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(60px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-110 {
	 0% {
		 transform: translateY(-110px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(30px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-120 {
	 0% {
		 transform: translateY(-120px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(20px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-150 {
	 0% {
		 transform: translateY(-150px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(10px) translateZ(0);
		 opacity: 0;
	}
}
 @keyframes fadeNumberDown-160 {
	 0% {
		 transform: translateY(-160px) translateZ(0);
		 opacity: 0;
	}
	 40% {
		 opacity: 0.4;
	}
	 60% {
		 opacity: 0.4;
	}
	 100% {
		 transform: translateY(10px) translateZ(0);
		 opacity: 0;
	}
}
 
@media (max-width: 768px) {
  .illustration {
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  .illustration {
    max-width: 350px;
  }
}

@media (max-width: 360px) {
  .illustration {
    max-width: 300px;
  }
}

/* --- Profile Picture --- */
:root {
  --c1:  #3c3c3c;
  --c2:  #202020;
  --size: clamp(200px, 100%, 450px);
  color: #505050;
}

.liquid-wrap{
  position: relative;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-items: center;
  filter: drop-shadow(0 15px 30px rgba(0,0,0,.45));
  isolation: isolate;
}

.liquid {
  position: relative;
  width: 85%;
  height: 85%;
  background: radial-gradient(120% 120% at 30% 20%, #ffffff33 0 25%, transparent 50%) , radial-gradient(120% 120% at 70% 80%, #00000026 0 30%, transparent 60%), linear-gradient(135deg, var(--c1), var(--c2));
  border-radius: 60% 40% 65% 35% / 45% 55% 45% 55%;
  animation: blob 8s ease-in-out infinite alternate;
  will-change: border-radius, transform, filter;
  overflow: hidden;
}

.liquid-mask {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: inherit;
   z-index: 1; 
}


.liquid-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.liquid::before{
  content: "";
  position: absolute;
  inset: 6%;
  border-radius: inherit;
  background:
    radial-gradient(120% 120% at 30% 25%, #ffffff44 0 12%, transparent 45%) ,
    radial-gradient(80% 80% at 70% 75%, #00000022 0 20%, transparent 60%) ;
  mix-blend-mode: soft-light;
  animation: wobble 3s ease-in-out infinite alternate;
}
 
.glow {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(60% 60% at 50% 50%, var(--c2), transparent 50%);
  filter: blur(10px);      
  opacity: 0.2;           
  transform: scale(1.01);   
  animation: breathe 3s ease-in-out infinite;
  z-index: -1;
}

.glow.glow--outer {
  background: radial-gradient(70% 70% at 50% 50%, var(--c1), transparent 60%);
  filter: blur(20px);       
  opacity: 0.15;            
  transform: scale(1.05);   
  animation-duration: 3s;
  animation-delay: 0.3s;
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 65% 35% / 45% 55% 45% 55%;
    transform: translateY(0px)  scale(1);
  }
  50% {
    border-radius: 35% 65% 40% 60% / 60% 40% 70% 30%;
    transform: translateY(-8px) scale(1.02);
  }
  100% {
    border-radius: 65% 35% 55% 45% / 40% 60% 35% 65%;
    transform: translateY(0px) scale(1.01);
  }
}

@keyframes wobble {
  0%   { transform: translate(-1%, -1%) scale(1.01); }
  100% { transform: translate( 1%,  1%) scale(0.995); }
}

@keyframes breathe {
  0%, 100% { opacity: .35; transform: scale(1.15); }
  50%      { opacity: .55; transform: scale(1.28); }
}

@keyframes float {
  0%, 100% { transform: translateY(0) translateX(0) scale(1); opacity: .55; }
  50%      { transform: translateY(-14px) translateX(6px) scale(1.15); opacity: .85; }
}

@media (prefers-reduced-motion: reduce){
  .liquid, .liquid::before, .glow, .spark { animation: none !important; }
}

@media (max-width: 768px) {
  :root {
    --size: clamp(180px, 90vw, 380px); 

  }

  .liquid-wrap {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about-section{
  background-image: url(../background/about-section.webp);
   background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
 
  
}
.about .content h2 {
  font-weight: 700;
  font-size: clamp(20px, 5vw, 30px); /* Responsive font size */
  margin-top: 20px;
  margin-bottom: 15px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.p-about {
  font-size: clamp(16px, 2vw, 18px); /* min, preferred, max */
  text-align: justify;
  line-height: 2;
  padding: 0 10px;
}

.about .content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 10px;
  color: var(--accent-color);
  line-height: 0;
}

.about-interest {
  border: #3c3c3c 2px solid;
  color: #3C3C3C;
  padding: 15px 10px;   /* ✅ default (desktop/tablet) */
  border-radius: 15px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  transition: background 0.3s ease;
  height: 55px;
}

.about-interest img {
  margin-right: 8px;
}

/* ✅ On mobile, shrink size */
@media (max-width: 576px) {
  .about-interest {
    padding: 10px 6px;
    height: 45px;
    font-size: 12px;
  }

  .about-interest img {
    width: 20px;
    height: auto;
  }
}


.about-interest img {
  margin-right: 8px;
}

/*--------------------------------------------------------------
# Profile Section
--------------------------------------------------------------*/
.profile-section{
  background-image: url(../background/profile-section.webp);
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
  
}


.top-design {
  margin-top: -61px;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.profile .profile-title {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 14px;
  backdrop-filter: blur(35px);
  background: rgba(255, 255, 255, 0.1);
  font-family: 'Dela Gothic One', Helvetica, sans-serif;
  letter-spacing: 2px;
}

.profile .profile-item {
  padding: 0 0 20px 20px;
  margin: 0px 20px;
  border-left: 2px solid #FFFFFF;
  position: relative;
}

.profile .profile-item::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  bottom: 0;
  width: 5px;
  background: #FFFFFF;
  animation: pulseBox 1s infinite alternate ease-in-out;

}

@keyframes pulseBox {
  0% {box-shadow: 0 0 10px #FFFFFF;}
  100% {box-shadow: 0 0 20px #FFFFFF;}
}

.pulseBox {
  animation-name: pulseBox;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}

.profile .profile-item h4 {
  line-height: 18px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.profile .profile-item h5 {
  font-size: 18px;
  padding: 5px 5px 5px 0px;
  display: inline-block;
  margin-bottom: 10px;
  color: #bbbbbb;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 600;
}

.profile .profile-item ul {
  padding-left: 25px;
  color: #bbbbbb;
}

.profile .profile-item ul li {
  padding-bottom: 10px;
  text-align: justify;
  line-height: 1.6em;
  color: #bbbbbb;
  font-size: 1.1em;
}

.profile .profile-item:last-child {
  padding-bottom: 0;
}

.profile .profile-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -8.5px;
  top: 0;
  background: var(--background-color);
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/

.skills-section{
  background-image: url(../background/skills-section.webp);
   background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
  
}

@media (max-width: 500px) {
  #skills .section-title.white h2 {
    color: #3c3c3c;
  }
}

.skill-title {
  font-size: 14px;
  margin-bottom: 8px;      
  color: #3c3c3c;             
}

.skill-list {
  flex-wrap: wrap;
  align-content: center;
}

.skill-name {
  flex-direction: column;  
  align-items: center;   
  color: #3c3c3c;
  border-radius: 15px;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin: 4px 2px;
  transition: background 0.3s ease;
}

.skill-name:hover {
   color: #ffffff;
}

.skill-name::after {
  margin-left: 8px;
  font-weight: bold;
}

.skills .progress {
  height: 50px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  color: #5c5c5c;
  padding: 0;
  margin: 0 0 6px 0;
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
  color: #5c5c5c;
}

.skills .progress-bar-wrap {
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  height: 12px;
  border-radius: 24px;
}

.skills .progress-bar {
  width: 1px;
  height: 12px;
  transition: 0.9s;
  border-radius: 24px;
  background: linear-gradient(-45deg, #3c3c3c, #707070, #3c3c3c, #222222);
  background-size: 400% 400%;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/** Skill-Item Card **/

.skills .skill-tools {
  height: 100%;
  padding: 30px 30px;
  border-radius: 24px;
  border: none;
  position: relative;
  backdrop-filter: blur(35px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills .skill-tools:hover {
  border-radius: 24px;
  background-color: #c5c5c5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
  transform: translateY(-8px);
}

.skills .skill-tools h3 {
  padding: 10px;
  background-color: #c5c5c5;
  border-radius: 14.2px;
  font-size: 24px;
  font-weight: 600;
  color: #3c3c3c;
  margin-bottom: 15px;
  transition: color 0.3s ease;
  justify-content: center; 

}

.skills .skill-tools:hover h3 {
  color: #ffffff;
   padding: 10px;
  background-color: #3c3c3c;
  border-radius: 14.2px;
}

.dock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap;

}

.dock .dock-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.dock .dock-container li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: 0.2s;
  transform-origin: 50% 100%;
  position: relative;
}

.dock .dock-container li:hover {
  transform: scale(1.1);
}

.dock .dock-container li .ico {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.dock .dock-container li .name {
  position: absolute;
  bottom: -30px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease;
}

.dock .dock-container li:hover .name {
  opacity: 1;
  transform: translateY(0);
}

 .li-1:hover .name {
	 visibility: visible !important;
}
 .li-2:hover .name {
	 visibility: visible !important;
}
 .li-3:hover .name {
	 visibility: visible !important;
}
 .li-4:hover .name {
	 visibility: visible !important;
}
 .li-5:hover .name {
	 visibility: visible !important;
}
 .li-6:hover .name {
	 visibility: visible !important;
}
 .li-7:hover .name {
	 visibility: visible !important;
}
 .li-8:hover .name {
	 visibility: visible !important;
}
 .li-9:hover .name {
	 visibility: visible !important;
}
 .li-10:hover .name {
	 visibility: visible !important;
}
 .li-11:hover .name {
	 visibility: visible !important;
}
 .li-12:hover .name {
	 visibility: visible !important;
}
 .li-13:hover .name {
	 visibility: visible !important;
}
 .li-14:hover .name {
	 visibility: visible !important;
}
 .li-15:hover .name {
	 visibility: visible !important;
}

@media (max-width: 500px) {
  .dock span {
    display: none;
  }
}
.skills .skill-item {
  height: 100%;
  padding: 30px 30px;
  transition: 0.3s;
  border-radius: 24px;
  backdrop-filter: blur(35px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 500px) {
  .skills .skill-item {
    background: #3c3c3c;
    backdrop-filter: none;
    border: none;          
  }
}

.skills .skill-item:hover {
  border-radius: 24px;
  background-color: #e6e6e6;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
  transform: translateY(-8px);
}

.skill-item .icon {
  width: 60px;
  height: 60px;
  border-radius: 14.2px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  transition: all 0.4s ease;
}

.skills .skill-item:hover .icon {
  box-shadow: 
    rgba(60, 60, 60, 0.4) 5px 5px,
    rgba(60, 60, 60, 0.3) 10px 10px;
  transform: translateY(-3px);
}

.skill-item .icon i {
  font-size: 28px;
  color: #fff;
}

.skills .skill-item h3 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.skills .skill-item:hover h3 {
  color: #3c3c3c;
}

.skills .skill-item p {
  line-height: 1.5em;
  font-size: 16px;
  font-family: "unagoReg", Helvetica, sans-serif;
  margin-bottom: 0;
  text-align: justify;
  color: #ffffff;
  transition: color 0.3s ease;
}

.skills .skill-item:hover p {
  color: #3c3c3c;
}

/*-- Colors --*/

.skills .skill-item.item-cyan i {
  color: #0dcaf0;
}

.skills .skill-item.item-cyan:hover .icon i {
  color: #3c3c3c;
}

.skills .skill-item.item-cyan:hover .icon path {
  fill: #0dcaf0;
}

.skills .skill-item.item-orange i {
  color: #fd7e14;
}

.skills .skill-item.item-orange:hover .icon i {
  color: #3c3c3c;
}

.skills .skill-item.item-orange:hover .icon path {
  fill: #fd7e14;
}

.skills .skill-item.item-teal i {
  color: #20c997;
}

.skills .skill-item.item-teal:hover .icon i {
  color: #3c3c3c;
}

.skills .skill-item.item-teal:hover .icon path {
  fill: #20c997;
}

.skills .skill-item.item-red i {
  color: #9f56ff;
}

.skills .skill-item.item-red:hover .icon i {
  color: #3c3c3c;
}

.skills .skill-item.item-red:hover .icon path {
  fill: #9f56ff;
}

/*--------------------------------------------------------------
# Soft-skills Section
--------------------------------------------------------------*/
.soft-skills i {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  width: 54px;
  height: 54px;
  font-size: 24px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.soft-skills .soft-skills-item {
  margin-top: 10px;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
}

.soft-skills .soft-skills-item span {
  font-size: 22px;
  display: block;
  font-weight: 400;
  font-family: "unagoblack", Helvetica, sans-serif;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.soft-skills .soft-skills-item p {
  padding: 0;
  margin: 0;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 16px;
}

/*--------------------------------------------------------------
# Cert-Skills Section
--------------------------------------------------------------*/
.cert-section{
  background-image: url(../background/cert-section.webp);
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
  
}

.cert-card {
  overflow: hidden; 
  border: none;
  position: relative;
  border-radius: 24px;
  backdrop-filter: blur(35px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.cert-card .card-img-top {
  height: 200px;         
  width: 100%;           
  object-fit: cover;     
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  z-index: 0;
  filter: brightness(70%);
}

.cert-card .card-img-top:hover { 
  transform: scale(1.1);
  filter: brightness(100%);
}

.cert-card .card-body {
  position: relative; 
  z-index: 2;
  padding: 25px 25px 10px 25px;
}

.card-body p{
  padding-left: 10px;
  color: #646464;
}

.cert-card .card-body-button {
  position: relative; 
  z-index: 2;
  padding: 10px 25px 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;            
}

.card-title { 
  font-size: clamp(17px, 2vw, 20px); 
  font-weight: 600; 
  text-align: center; 
  padding: 5px 0px 0px 10px; 
  color: #f1f1f1; 
  justify-content: left; 
  text-align: left; 
}

.sub-card-group {
  display: flex;    
  align-items: center;
}

.sub-card-title {
  padding: 10px;
  border-radius: 14px;
  background: #cfcfcf;
  margin-right: 10px;
  color:#3c3c3c;
  font-size: 14px;
}

.card-button {
  padding: 10px;
  font-size: 14px;
  color: #474747;
  border-radius: 14px;
  justify-content: flex-end;
  justify-content: end;
  background: rgb(128, 128, 128);
}

.card-button:hover {
  padding: 10px;
  border-radius: 14px;
  background-color: #8a8a8a;
  color: #ffffff;
}

/* ICON */
.cert-icon {
  background: #4e4e4e;
  padding: 10px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;                 
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.1) 0px 0px 1px;
}

.material-icons {
  font-size: 5rem; /* laki ng icon */
  transition: color 0.3s ease;
  color: #9c9c9c;
}

@media (max-width: 480px) {
  .card-button {                
    padding: 10px;
    justify-content: center;
  }

  .sub-card-title{
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .cert-card {
    background: #ffffff;
    backdrop-filter: none;
    border: none;         
  }

  .cert-card .card-title {
    color: #3c3c3c !important;
  }

}
/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center; /* can remove if not needed */
  
  display: flex;              /* make it flex */
  justify-content: center;    /* center items */
  gap: 20px;                  /* now gap works */
  font-family: "Unageo-Bold", Helvetica, sans-serif;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 14px;
  transition: all 0.3s ease-in-out;
  font-family: var(--heading-font);
  color: #ffffff;
  border: 1px solid #ffffff;
}


.portfolio .portfolio-filters li:hover{
  color: var(--contrast-color);
  background-color: #4e4e4e21;
  text-align: center;
  border-radius: 14px;
}

.portfolio .portfolio-filters li.filter-active {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  text-align: center;
  border-radius: 14px;
}
.portfolio .portfolio-filters li:first-child {
  margin-left: 0;
}

.portfolio .portfolio-filters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .portfolio .portfolio-filters li {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}

.portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
    border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -100%;
  z-index: 3;
  transition: all ease-in-out 0.5s;
  background: color-mix(in srgb, var(--background-color), transparent 10%);
  padding: 15px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  padding-right: 50px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 50px;
}

.solo-alignment{
  margin-right: 1000px;
}


.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 60px;
  font-size: 24px;
  top: calc(50% - 14px);
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  transition: 0.3s;
  line-height: 0;
}

.portfolio .portfolio-item .portfolio-info .poster-preview-link
{
  position: absolute;
  right: 20px;
  font-size: 24px;
  top: calc(50% - 14px);
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  transition: 0.3s;
  line-height: 0;
}


.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover,
.portfolio .portfolio-item .portfolio-info .poster-preview:hover
{
  color: var(--accent-color);
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 14px;
  font-size: 28px;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
    border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}


/*----- Web Card -----*/

.web-card {
   overflow: hidden; 
  border: none;
  position: relative;
  border-radius: 24px;
  backdrop-filter: blur(35px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}

.web-card .web-img-top {
  height: 200px;         
  width: 100%;           
  object-fit: cover;     
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  z-index: 0;
  filter: brightness(70%);
}

.web-card .web-img-top:hover { 
  transform: scale(1.1);
  filter: brightness(100%);
}

.web-card .web-body {
  position: relative; 
  z-index: 2;
  padding: 25px 25px 10px 25px;
}


.web-body p{
  padding-left: 10px;
  color: #646464;
}

.web-card .web-body-button {
  position: relative; 
  z-index: 2;
  padding: 10px 25px 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;            
}

.web-title { 
  font-size: clamp(17px, 2vw, 22px); 
  font-weight: 600; text-align: center; 
  padding: 5px 0px 0px 10px; color: #ffffff; 
  justify-content: left; 
  text-align: left; 
}

.web-sub-card-group {
  display: flex;         
  align-items: center;
}

.web-sub-card-title {
  padding: 10px;
  border-radius: 14px;
  background: #3a3a3a;
  margin-right: 10px;
  color:#ffffff;
  font-size: 14px;
}

@media (max-width: 480px) {
  .web-sub-card-title {
  padding: 6px;
  border-radius: 10px;
  background: #3a3a3a;
  margin-right: 10px;
  color:#ffffff;
  font-size: 12px;
}
  
}

.web-button {
  display: inline-flex;          
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  color: #474747;
  border-radius: 14px;
  background: rgb(128, 128, 128);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;          
  transition: all 0.3s ease;
}

.web-button:hover {
  background-color: #ffffff;
  color: #2f2f2f;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.web-icon {
  color: #3c3c3c;
  background: #ffffff;
  padding: 10px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;                 
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.1) 0px 0px 1px;
}

.web-icon:hover {
  background: #f1f1f1;
  transform: scale(1.05);        
}


@media (max-width: 768px) {
  .web-icon {
    height: 48px;
    width: 48px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .web-button {                
    padding: 10px;
    justify-content: center;
  }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact-section{
  background-image: url(../background/artwork-2.webp);
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
}



.contact .info-item {
  padding: 20px;
  margin-bottom: 20px; 
  background: rgba(197, 197, 197, 0.521);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}

.contact .info-item i {
  color: var(--accent-color);
  background-color: #555555;
  font-size: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  cursor: pointer;
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .php-email-form {
  height: 100%;
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 14px;
  color: var(--default-color);
  background-color: color-mix(in srgb, var(--background-color), transparent 20%);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 20%);
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* smooth animation */
}

/* hover effect */
.contact .php-email-form input[type=text]:hover,
.contact .php-email-form input[type=email]:hover,
.contact .php-email-form textarea:hover {
  border-color: var(--accent-color);
  box-shadow: 0 0 6px var(--accent-color); /* optional glow */
}

/* focus (clicked) effect */
.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 8px #5f5f5f; /* a bit stronger glow */
  outline: none; /* para di blue outline */
}

/* placeholder color */
.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}



.contact .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 14px;
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 25%);
}


.contact .php-email-form {
  padding: 40px 30px 40px 30px;
  background: rgba(197, 197, 197, 0.521);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}


/*--------------------------------------------------------------
# Portfolio Details Section
--------------------------------------------------------------*/
.portfolio-section{
  background-image: url(../background/portfolio-section.webp);
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .swiper-wrapper {
  height: auto;
  border-radius: 24px;
}

.portfolio-details .swiper-button-prev,
.portfolio-details .swiper-button-next {
  width: 48px;
  height: 48px;
}

.portfolio-details .swiper-button-prev:after,
.portfolio-details .swiper-button-next:after {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 24px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.portfolio-details .swiper-button-prev:hover:after,
.portfolio-details .swiper-button-next:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 575px) {

  .portfolio-details .swiper-button-prev,
  .portfolio-details .swiper-button-next {
    display: none;
  }
}

.portfolio-details .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: color-mix(in srgb, var(--default-color), transparent 85%);
  opacity: 1;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.portfolio-details .portfolio-info h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.portfolio-details .portfolio-info ul strong {
  text-transform: uppercase;
  font-weight: 400;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 14px;
}

.portfolio-details .portfolio-info .btn-visit {
  padding: 8px 40px;
  background: var(--accent-color);
  color: var(--contrast-color);
  border-radius: 50px;
  transition: 0.3s;
}

.portfolio-details .portfolio-info .btn-visit:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
}

.portfolio-details .portfolio-description .testimonial-item {
  padding: 30px 30px 30px 30px;
  position: relative;
  background: color-mix(in srgb, var(--default-color), transparent 97%);
  margin-bottom: 50px;
}

.portfolio-details .portfolio-description .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid var(--background-color);
  float: left;
  margin: 0 10px 0 0;
}

.portfolio-details .portfolio-description .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 5px 0;
  padding-top: 20px;
}

.portfolio-details .portfolio-description .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-left,
.portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
  color: color-mix(in srgb, var(--accent-color), transparent 50%);
  font-size: 26px;

}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.portfolio-details .portfolio-description .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 0 0 0;
  padding: 0;
  font-size: 20px;
}

/*--------------------------------------------------------------
# skill Details Section
--------------------------------------------------------------*/
.skill-details .skill-box {
  padding: 20px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.skill-details .skill-box+.skill-box {
  margin-top: 30px;
}

.skill-details .skill-box h4 {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.skill-details .skills-list a {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-top: 15px;
  transition: 0.3s;
}

.skill-details .skills-list a:first-child {
  margin-top: 0;
}

.skill-details .skills-list a i {
  font-size: 16px;
  margin-right: 8px;
  color: var(--accent-color);
}

.skill-details .skills-list a.active {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}

.skill-details .skills-list a.active i {
  color: var(--contrast-color);
}

.skill-details .skills-list a:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
  color: var(--accent-color);
}

.skill-details .download-catalog a {
  color: var(--default-color);
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: 0.3s;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.skill-details .download-catalog a:first-child {
  border-top: 0;
  padding-top: 0;
}

.skill-details .download-catalog a:last-child {
  padding-bottom: 0;
}

.skill-details .download-catalog a i {
  font-size: 24px;
  margin-right: 8px;
  color: var(--accent-color);
}

.skill-details .download-catalog a:hover {
  color: var(--accent-color);
}

.skill-details .help-box {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  margin-top: 30px;
  padding: 30px 15px;
}

.skill-details .help-box .help-icon {
  font-size: 48px;
}

.skill-details .help-box h4,
.skill-details .help-box a {
  color: var(--contrast-color);
}

.skill-details .skills-img {
  margin-bottom: 20px;
}

.skill-details h3 {
  font-size: 26px;
  font-weight: 700;
}

.skill-details p {
  font-size: 15px;
}

.skill-details ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.skill-details ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.skill-details ul i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--accent-color);
}

.typed{
  color: #ffffff;
}

h1 {
  font-size: clamp(32px, 8vw, 80px);
  color: #8a8a8a;
  font-family: "Dela Gothic One", Helvetica, sans-serif;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

h1 :hover{
 letter-spacing: 2px;
}


.greetings {
  font-size: clamp(32px, 5vw, 50px); 
  color: #ffffff;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.img-fluid{
border-radius: 25px;
}

.buttongo {
  min-width: 9rem;
  min-height: 2rem;
  font-size: 0.8rem;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  border-radius: 10px;
  color: #777777;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 10px;
  border: 1px solid #868686;
  backdrop-filter: blur(35px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  
}

.buttongo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;  
  border-radius: inherit;
  box-shadow: 0 0 2.5rem rgb(107, 107, 107);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.buttongo:hover, .buttongo:focus {
  color: #ffffff;
  transform: translateY(-0.125rem);
}

.buttongo:hover::before, .buttongo:focus::before {
  opacity: 1;
}

.buttongo::after {
  content: '';
  width: 1.875rem; height: 1.875rem;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.buttongo:hover::after, .buttongo:focus::after {
  animation: none;
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) { /* tablets */
  .buttongo {
    min-width: 7rem;
    min-height: 1.8rem;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }
  .buttongo::after {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 480px) {
  .buttongo {
    min-width: 5rem;
    min-height: 1rem;
    font-size: 0.5rem;
    padding: 0.4rem 0.4rem;
  }
  .buttongo::after {
    width: .8rem;
    height: .8rem;
  }
}


/*--------------------------------------------------------------
# Divider/Ticker
--------------------------------------------------------------*/


@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}

.ticker-wrap {
  position: relative;
  bottom: 0;
  overflow: hidden;
  height: 3rem;
  background-color: #2c2c2c;
  padding-left: 0;
  box-sizing: content-box;
  font-family: 'lemonmilkbold', Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 3rem;
  width: max-content;
  line-height: 3rem;
  white-space: nowrap;
  padding-right: 0;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  font-size: 1rem;
  color: rgb(100, 100, 100);
}

/*--------------------------------------------------------------
# Circle
--------------------------------------------------------------*/

.circle {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 50px;
	height: 50px;
  position: fixed;
	align-items: center;
	border-radius: 100vmax;
	z-index: 2;
}

.text {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Consolas', Helvetica, sans-serif;
	color: #ffffff;
	font-size: 10px; /* Reduced from 17px */
	animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}

.text span {
	position: absolute;
	left: 50%;
	font-size: .9em; /* Smaller font */
	transform-origin: 0 50px; /* Adjust to new radius */
}

/*--------------------------------------------------------------
# Box
--------------------------------------------------------------*/

.box {
padding: 20px;
backdrop-filter: blur(35px);
background: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 24px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}



/*--------------------------------------------------------------
# Vert
--------------------------------------------------------------*/
 
.vert-move-down {
  -webkit-animation: mover 1s infinite  alternate;
  animation: moverDown 1s infinite  alternate;
}

@keyframes moverDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}

.vert-move-top {
  -webkit-animation: moverTop 1s infinite alternate;
  animation: moverTop 1s infinite alternate;
}

@keyframes moverTop {
  0% { transform: translateY(-5px); } 
  100% { transform: translateY(0); }  
}

.vert-move-1 {
  -webkit-animation: moverWave 1s infinite alternate;
  animation: moverWave 1s infinite alternate;
  animation-delay: 0s;
}

.vert-move-2 {
  -webkit-animation: moverWave 1s infinite alternate;
  animation: moverWave 1s infinite alternate;
  animation-delay: 0.2s; 
}

.vert-move-3 {
  -webkit-animation: moverWave 1s infinite alternate;
  animation: moverWave 1s infinite alternate;
  animation-delay: 0.4s; 
}

.vert-move-4 {
  -webkit-animation: moverWave 1s infinite alternate;
  animation: moverWave 1s infinite alternate;
  animation-delay: 0.6s; 
}

.vert-move-5 {
  -webkit-animation: moverWave 1s infinite alternate;
  animation: moverWave 1s infinite alternate;
  animation-delay: 0.8s; 
}

@keyframes moverWave {
  0%   { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
